/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
}
footer{ 
    background-color: #686868;
    color: #ffffff;
    position: absolute;
    left:0;
    right:0;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;


}

.jumbotron.bg-1{
  background-color: #C8C8C8 ;
  margin-left:20px;
  margin-right:20px;
  padding-bottom: 50px;

}
.jumbotron{
  background-color:#00CC99;
  margin-left:20px;
  margin-right:20px;
}
.jumbotron.bg-2{
  background-color:#00CC99;
  margin-left:35px;
  margin-right:35px;
}

div.img{
  opacity: 0.5;
  filter: alpha(opacity=50); 
}
div.img:hover{
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

h1.text-1{
  color:#e600ac;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  background-color:#e6fff7;
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/*Button--------*/
.button {
    background-color:#C8C8C8 ;
    font-size: 16px;
    padding: 10px 30px;
    color: white;
    border: 2px solid #C8C8C8 ;
    border-radius: 15px;
}

.button:hover {
    background-color:#00CC99 ;
    color: black;
}
.button.bt-1{
  background-color:#00CC99;
    font-size: 16px;
    padding: 10px 30px;
    color: black;
    border: 2px solid #00CC99;
    border-radius: 15px;
}
.button.bt-1:hover{
  background-color:#C8C8C8  ;
  color: white;
}

img.img-1{
  position:absolute;
  left:0px;
}
p.text-1{
  postion:absolute;
  color:white;
  z-index: 10;
}

h3.b-text{
  color:black;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }


  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

.col-1{
  height:500px;
}
.top-1{
  padding-top: 50px;
}

.box-1{
  background-image: url("Cornell.jpg");
  color:white;
}
.box-2{
  background-image: url("Beach.jpg");
}


.box-3{
  background-image: url("https://c1.staticflickr.com/9/8368/8405185756_4a470484ea_b.jpg");
  padding-top: 20px;
  color:white;
}
.box-4{
  background-image: url("http://www.nativeplanet.com/img/2016/02/04-1454567380-howrahbridge.jpg");
  padding-top: 20px;
  color:white;
}
.box{
  padding-top: 40px;
}
.btn-1,.btn-2,.btn-3,.btn-4{
  border:1px solid #fff;
  border-radius: 0px;
background-color:transparent;
font-size: 20px;
opacity: 1;

}
.btn-1:hover,.btn-2:hover,.btn-3:hover,.btn-4:hover{
box-shadow:0 0 5px #fff;

}
.box-1,.box-2,.box-3,.box-4{
  background-size:650px 600px;
  background-repeat: no-repeat;
  background-blend-mode:color-dodge;
}

.side{
  background-color: black;
}
.gal1{
  padding-top: 60px;
  padding-bottom: 130px;
}

.img-h .overlay{
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
color:white;
padding-left: 11px;
-webkit-transition:all 0.2s ease-in;
transition:all 0.2s ease-in;
}
.img-h h4 {
  width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
color:white;
  opacity:1;
}
.img-h:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
padding-top: 90px;
}

.port{
  line-height: 20px;
}
.port p{
  font-size: 15px;
}
.j2{
  padding-top: 75px;
}
.heading{
  font-family:Georgia, serif;
}

.jumbotron .img-circle{
  width:300px;
height:300px;
}
.bg-1 .img-responsive{
  width:470px;
height:270px;
}
.gal1 img{
  width:400px;
height:280px;
}
.port h1{
  color:#00CC99;
}
.gal1 .overlay{
  line-height: 17px;
}
.gal1{
  background-color: black;
}
.t-left{
  text-align: left;
}
.t-grey{
  color: #595959;
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
